<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New reservation</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/style_navbar.css}" />
    <link rel="stylesheet" th:href="@{/css/style_table.css}" />

</head>
<body>
    <div class="custom-navbar">
        <a class="active" href="/" th:text="#{navbar.hotel}"></a>

        <div class="custom-navbar-dropdown" style="float: left">
            <button class="dropdown-btn" th:text="#{navbar.language}">
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="custom-dropdown-content">
                <a href="?lang=ua" th:text="#{navbar.language.ua}"></a>
                <a href="?lang=en" th:text="#{navbar.language.en}"></a>
            </div>
        </div>

        <div class="custom-navbar-dropdown" style="float: right">
            <button class="dropdown-btn" th:text="#{navbar.admin}">
                <i class="fa fa-caret-down"></i>
            </button>
        </div>
    </div>

    <div>
        <h1>Apartments that match reservation</h1>

        <table>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Places</th>
                <th>Apartment class</th>
                <th>Apartment Status</th>
                <th>Price</th>
            </tr>

            <tr class="align-middle"
                th:each="apartment : ${matchingApartments}"
                th:onclick="'window.location=\'/apartment/'+${apartment.id}+'\';'">
                <td class="align-middle"  th:text="${apartment.id}"></td>
                <td class="align-middle" th:text="${apartment.name}"></td>
                <td class="align-middle" th:text="${apartment.places}"></td>
                <td class="align-middle" th:text="${apartment.apartmentClass}"></td>
                <td class="align-middle" th:text="${apartment.status}"></td>
                <td class="align-middle" th:text="${apartment.price}"></td>
            </tr>
        </table>




    </div>
</body>
</html>